*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif; }

body {
  font-size: 1.8rem; }

.header-1 {
  font-family: "Raleway", sans-serif;
  font-size: 4.4rem; }

.paragraph {
  line-height: 1.5; }

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6.4rem; }
  .section__text {
    max-width: 65rem; }
  .section__img {
    display: block;
    width: 40%; }

.header {
  padding: 6.4rem; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem; }

.nav__link:link, .nav__link:visited {
  transition: all 0.2s ease;
  text-decoration: none;
  color: #070439; }

.nav__link:active, .nav__link:hover {
  color: #585989; }
