.section {
	@include flex(center, center);
	flex-wrap: wrap-reverse;
	gap: 4.8rem;

	padding: 6.4rem;

	&__text {
		max-width: 65rem;
	}

	&__img {
		display: block;
		width: 45%;
	}
}

.section-cta {
    background-image: url(/images/bg-curve-desktop.svg);
    background-repeat: no-repeat no-repeat;
    background-size: contain;
    background-position: bottom;
}

.section-feature {
	flex-wrap: wrap;
    background-color: #F9F8FE;

	.feature-link {
		color: $color-accent-2;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid $color-accent-2;
		transition: all 0.2s ease;

		&:hover {
			opacity: 0.8;
		}
	}

	.feature-testimonial {
		max-width: 45rem;
		padding: 2.4rem 3.2rem;
		border-radius: 4px;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		color: $color-primary-1;

		.testimonial-profile-wrapper {
			@include flex(flex-start, center);
			gap: 1.2rem;

			.profile-img {
				width: 4.8rem;
				height: 4.8rem;
				border-radius: 50%;
				display: block;
			}

			.profile-name {
				font-family: "Raleway", sans-serif;
				font-weight: 700;
				color: $color-primary-1;
				font-size: 1.5rem;
				margin-bottom: 0.2rem;
			}

			.profile-role {
				font-size: 1.1rem;
			}
		}
	}
}

.section-get-started {
    gap: 9.6rem;
    flex-wrap: wrap;

	background-color: $color-primary-2;

	.form {
		@include flex(flex-start, flex-start);
		flex-direction: column;

		.form__input {
			width: 45rem;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		}

		.btn {
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		}
	}
}
