.section {
	@include flex(center, center);
	flex-wrap: wrap-reverse;
	gap: 4.8rem;
	padding: 6.4rem;

	@media only screen and (max-width: $bp-medium) {
		padding: 3.2rem;
	}

	&__text {
		max-width: 65rem;

		@media only screen and (max-width: $bp-largest) {
			text-align: center;
		}
	}

	&__img {
		display: block;
		width: 45%;
	}

	@media only screen and (max-width: $bp-largest) {
		&__img {
			width: 50%;
		}
	}
}

.section-cta {
	background-image: url(/images/bg-curve-desktop.svg);
	background-repeat: no-repeat no-repeat;
	background-size: contain;
	background-position: bottom;

	animation: fadeInToTop 2s cubic-bezier(0.16, 1, 0.3, 1);

	.btn {
		@media only screen and (max-width: $bp-medium) {
			width: 75%;
		}
	}
}

.section-feature {
	padding-top: 9.6rem;
	flex-wrap: wrap;
	background-color: #f9f8fe;

	.feature-link {
		color: $color-accent-2;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid $color-accent-2;
		transition: all 0.2s ease;

		&:hover {
			opacity: 0.8;
		}
	}

	.feature-testimonial {
		max-width: 45rem;
		padding: 2.4rem 3.2rem;
		border-radius: 4px;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		color: $color-primary-1;

		.testimonial-profile-wrapper {
			@include flex(flex-start, center);
			gap: 1.2rem;

			.profile-img {
				width: 4.8rem;
				height: 4.8rem;
				border-radius: 50%;
				display: block;
			}

			.profile-name {
				font-family: "Raleway", sans-serif;
				font-weight: 700;
				color: $color-primary-1;
				font-size: 1.5rem;
				margin-bottom: 0.2rem;
			}

			.profile-role {
				font-size: 1.1rem;
			}
		}
	}
}

.section-get-started {
	gap: 9.6rem;
	flex-wrap: wrap;

	background-color: $color-primary-2;

	@media only screen and (max-width: $bp-largest) {
		text-align: center;
		gap: 4.8rem !important;
	}

	.form {
		@include flex(flex-start, flex-start);
		flex-direction: column;

		.form__input {
			width: 45rem;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

			@media only screen and (max-width: $bp-largest) {
				width: 100%;
			}
		}

		.btn {
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		}
	}
}
