// margins
.mb-s {
	margin-bottom: 1.2rem;
}

.mb-m {
	margin-bottom: 2.4rem;
}

.mb-l {
	margin-bottom: 3.2rem;
}

.mb-xxxl {
	margin-bottom: 9.6rem;
}

// colors
.clr-white {
	color: $color-neutral-1;
}


